
body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  width:100%;

  /* border: red solid 2px; */
}



  /* .header__container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
  } */