.rev-section-page{

}

.rev-page-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding:45px 120px;
  box-sizing: border-box;
}

.rev-page-images{
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 20px;


  width: 780px;
  height: auto;
}
.img-card-container{
  /* max-width: 100%; */
}
.img-card{
  max-width: 100%;
}

.rev-page-heading{
  width: 340px;
  max-height: 246px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin:39px 67px 30px;
}

.rev-page-h1{
  margin-bottom: 21px;
}

.rev-h1{
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}

.rev-page-p{
  margin-bottom: 23px;
}

.rev-p{
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
}

.rev-page-btn{
  width: 101px;
  height: 33px;
  top: 5px;
  left: 16px;

  border-radius: 35px;
  background: #FF4A32;  
}

.rev-page-button{
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-weight: 400;

  text-align: center;
}

/* width: 201px;
height: 33px;
flex-shrink: 0;

 */

 @media (max-width: 1440px){

  .rev-page-heading{
    width: 340px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    margin:29px 57px 20px;
  }
}
@media (max-width: 1340px){

  .rev-page-heading{
    height: 100%;
    margin:29px 40px 20px;
  }
  
  .rev-page-h1{
    margin-bottom: 10px;
  }
  .rev-h1{
    font-size: 29px;
    font-weight: 400;
    line-height: 38px;
  }
  .rev-page-p{
    margin-bottom: 20px;
  }
  .rev-p{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
  .rev-page-btn{

  }
  
  .rev-page-button{

  }
}

@media (max-width: 1190px){

  .rev-page-container{
    padding:45px 100px;
    box-sizing: border-box;
  }

  .rev-page-heading{
    height: 100%;
    margin:27px 30px 18px;
  }
  .rev-page-h1{
    margin-bottom: 9px;
  }
  .rev-h1{
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
  }
  .rev-page-p{
    margin-bottom: 20px;
  }
  .rev-p{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
  .rev-page-btn{
    width: 50%;
    height: 100%;
  }
  .rev-page-button{
    font-size: 14px;
    font-weight: 400;
  }

}

@media (max-width: 1000px){

  .rev-page-container{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;

    padding:35px 90px;
    box-sizing: border-box;
  }

  .img-card-container{
    max-width: 100%;
  }
  .img-card{
    max-width: 90%;
  }
  .rev-page-btn{
    width: 30%;
  }

}

@media (max-width: 768px) {
  .rev-page-container {
    padding: 35px 50px;

}

  .rev-page-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
  .img-card-container{
    text-align: center;
  }

}

@media (max-width: 425px) {
  .rev-page-container {
    padding: 25px 30px;
}

.rev-page-heading{
  margin:27px 10px 18px;
}

}
