.header{
    box-sizing: content-box;
}

.header__container{
  display: flex;
  flex-direction: column;

}

.header-advertising{
  background-color:black;
  height: 29px;
  
}

.advertising-text{
  color: #FBFBFB;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 2px;
}
.adv-text{
  padding: 7px;

  display:flex;
  justify-content: center;
  align-content: center;
}
.navigation_list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:15px 20px 15px 11px
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list{
  gap: 22px;
  color: #000;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav_icons{
  display:flex;
  gap:10px;
}

.header-main-menu{
  position: relative;
}

.main-menu-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-background{
  width:100%;
}

.heading-main-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 403px 402px;

}
.heading-menu{
  max-height: 160px;
  max-width: 635px;
}

  

.menu-heading{
color: #000;
text-align: center;
font-size: 44px;
font-weight: 400;
line-height: 50.625px; /* 115.057% */

padding:8px 62px 14px;

min-width: 511px;

}

.menu-text{
  color: #000;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.75px; /* 125% */
  letter-spacing: 1px;
  margin: 14px 49px 22px;
  min-width: 537px;
}

.menu-buttons{
  display: flex;
  justify-content: center;
  gap: 12px;
}

.red-btn{
border-radius: 35px;
background: #FF4A32;

width: 201px;
height: 33px;
flex-shrink: 0;

display: flex;
justify-content: center;
align-items: center;
}
.red-btn-text{
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px; /* 160.714% */
  }