.section-footer-nav{
  background-color:#F7F7F7;
}

.footer-nav-container{
  display: flex;

  /* justify-content: space-between; */
  justify-content: space-between;
  padding: 20px 130px;
}

.footer-nav-logo{
  padding-left: 10px;
  /* padding-right: 240px; */
  /* width: 240px; */
  margin-top:30px;


}

.footer-nav-list{
  padding-top:30px ;
  padding-left:30px ;
  padding-right:240px ;
  
  height: auto;
}


.footer-nav-h4{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;

  text-align: left;
  
  margin-bottom: 10px;
}

.footer-li-navlist{
font-family: 'Roboto', sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
max-width: 150%;
}

.footer-li-navlist a:hover{
  cursor:pointer;
  color: #FF4A32;
}

.footer-nav-info{
  padding-top:30px ;
  padding-bottom:30px;
  padding-right:10px;
  padding-left: 20px;
  max-width: 340px;
  height: auto;
}

.footer-nav-h3{

  font-size: 19px;
  font-weight: 400;
  line-height: 30px;

  text-align: left;
  margin-bottom:10px;
}

.footer-nav-p{

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  text-align: left;
}
.footer-nav-address{
  display: flex;
  flex-direction: column;
}
.nav-address{
  margin-top: 19px;

  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  
}

.nd-address{

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  
}